.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    align-items: start; 

}

.card {
    background: linear-gradient(to bottom, var(--beige), #ffffff); 
    padding: 2rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    
.card h2 {
   font-family: 'Lora', serif; 
    font-size: 1.8rem;
    color: var(--green-main);
    margin-bottom: 1rem;
}

  .card p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem;
    color: var(--text-secondary); 
    margin-bottom: 1.5rem;
    line-height: 1.8;
}
